*{
    margin: 0;
    padding: 0;
}

.logo{
    height: 50px;
    background-color: gray;
    margin-bottom: 15px;
}
.navigation{
    background-color: gray;
    height: 40px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.header{
    background-color: gray;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.center-area{
    display: flex;
}

.boxes{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1{
    background-color: gray;
    width: 470px;
    margin-right: 150px;
}

.box2{
    background-color: gray;
    width: 830px;
}

footer{
    text-align: center;
    background-color: gray;
    height: 40px;
    margin-top: 35px;
}